html {
    background-color: white;
    font-family: -apple-system, Basier, sans-serif, serif;
}

.App {
    color: #26292d;
    background-color: white;
    font-family: -apple-system, Basier, sans-serif, serif;
    text-align: center;
}